<div *ngIf="employee">
    <h2>Employee Details</h2>
    <button (click)="back()" class="back">back</button>
    <div class="form">
      <div class="form-grup">
        <label>Employee ID:</label>
        <input [(ngModel)]="employee.id" placeholder="Input Employee ID" disabled />
      </div>
      <div class="form-grup">
        <label>Employee Name:</label>
        <input [(ngModel)]="employee.name" placeholder="Input Employee Name" disabled />
      </div>
      <div class="form-grup">
        <label>Department:</label>
        <input [(ngModel)]="employee.department" placeholder="Input Department" disabled />
      </div>
    </div>
  </div>